<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>TermChat</title>
  <link rel="icon" href="/static/icon.png">
  <link href="static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="container">
    <pre class="room-begin">
      /$$$$$$$$                                 /$$$$$$  /$$                   /$$    
      |__  $$__/                                /$$__  $$| $$                  | $$    
         | $$  /$$$$$$   /$$$$$$  /$$$$$$/$$$$ | $$  \__/| $$$$$$$   /$$$$$$  /$$$$$$  
         | $$ /$$__  $$ /$$__  $$| $$_  $$_  $$| $$      | $$__  $$ |____  $$|_  $$_/  
         | $$| $$$$$$$$| $$  \__/| $$ \ $$ \ $$| $$      | $$  \ $$  /$$$$$$$  | $$    
         | $$| $$_____/| $$      | $$ | $$ | $$| $$    $$| $$  | $$ /$$__  $$  | $$ /$$
         | $$|  $$$$$$$| $$      | $$ | $$ | $$|  $$$$$$/| $$  | $$|  $$$$$$$  |  $$$$/
         |__/ \_______/|__/      |__/ |__/ |__/ \______/ |__/  |__/ \_______/   \___/  
      
    </pre>
    <span id="ping-count">Ping: n/a</span>
    <span class="tab"></span>
    <span id="current-time">Time: loading...</span>
    <span class="tab"></span>
    <span id="status-text">Status: disconnected</span>
    <hr>

    <div class="user-list">
      <span><u>Users</u></span>
      <ul id="user-list">
      </ul>
    </div>
    <div id="typing">
      ▮
    </div>
  </div>
  <form id="messageform">
    <input type="text" id="message" name="message" autocomplete="off">
  </form>
  <script src="/static/socket.io.js"></script>
  <script src="/static/jsencrypt.js"></script>
  <script src="/static/messaging.js"></script>
</body>

</html>